
.headinghome{
    font-size: 100px;
    font-weight: 900;
    color: aliceblue;
    width: 40%;
    height: 450px;
    /* text-align: center; */
    margin-top: 90px;
    margin-left: 20px;
    padding: 30px;

}